@import url('https://fonts.googleapis.com/css2?family=Jost&family=Raleway:wght@500&display=swap');
body{
    font-family: 'Jost', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-image:url("/asserts/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.main{
    margin-top: 12rem;
    background-color: rgba(0, 0, 0, 0.3);
    /* box-shadow: 0 4px 4px 0 rgba(177, 177, 177, 0.33), 0 4px 4px 0 rgba(180, 180, 180, 0.297); */
}
.type_hint{
    font-size: 14px;
    color:rgba(255, 255, 255, 0.3);
}
.valid{
    font-size: 14px;
}
.login
{
    padding-left: 25px;
    padding-right: 25px;
}